<!DOCTYPE html>
<html lang="en">
    <head>

        {% include "sfxmlibrary/dependencies.html" %}

        <title>Sound Effect Master Home</title>
        <link rel="shortcut icon" type="image/png" href="../favicon.png"/>
        <meta name="description" content="Sound Effect Master official website. All the best in sound effects are here, with an expansive sound effect library and a YouTube channel. Best of all, everything is free to use!">
        <meta name="keywords" content="sound effect, free sound effects, freesound, youtube sound effects, sound effect master">
        <meta name="author" content="Sound Effect Master">
    </head>

    <body style="background-color: rgb(22, 22, 24);">
        <style>
            body {text-align: center; color:white;}
        </style>

        {% include "sfxmlibrary/navbar.html" %}

        <img style="padding-top: 15px;" src="asset/sfxicon.png" height=18% width=18%>

        <h1 style="padding-top: 15px;">Welcome to <strong style="color: #6cf">Sound Effect Master</strong></h1>
        <p>Your go-to source of top quality Sound Effects, updated weekly with the newest memes and trend sounds.</p>
        <p style="padding-bottom: 15px;">Check out our Sound Effect Library to view all of the available sound effects and download them! We also have a YouTube channel which has all of our sound effects uploaded. </p>

        <a type="button" class="btn btn-lg btn-info" href="library.html"><i class="fas fa-list-ul"></i> <strong>Sound Effect Library</strong></a>
        <a type="button" class="btn btn-lg btn-warning" href="https://youtube.com/SoundEffectMaster"><i class="fab fa-youtube"></i> <strong>YouTube Channel</strong></a>

        {% include "sfxmlibrary/footer.html" %}

        </body>
</html>