<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class="fas fa-volume-up"></i> <strong>Sound Effect Master</strong></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="index.html"><i class="fas fa-home"></i> Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="../library.html"><i class="fas fa-list-ul"></i> SFX Library</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../blog.html"><i class="fas fa-newspaper"></i> Blog</a>
      </li>
        <li class="nav-item">
            <a class="nav-link " href="https://youtube.com/SoundEffectMaster"><i class="fab fa-youtube"></i> YouTube</a>
        </li>
        </ul>
        <span class="navbar-text">
        <i class="fas fa-thumbs-up"></i> All the best in sound effects
        </span>
    </div>
    </div>
</nav>